@import "reset.css";

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95a5a6;
    width:100%;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    animation: fadeIn 0.3s linear;
}
#time{
    font-size: 130px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
    color:rgba(255,255,255,0.8);
}
#hello-text{
    font-size: 50px;
    margin-top: 50px;
    animation: fadeIn 0.3s linear;
}
.form,
.greeting,
.section{
    display: none;
}
.showing{
    display: flex;
}
header form input{
    margin-top: 130px;
    margin-bottom: 50px;
    width: 600px;
    height: 50px;
    background-color: rgba(255,255,255,0);
    color: beige;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-bottom: 2px solid beige;
    padding: 20px 0;
} 
section{    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    animation: fadeIn 0.3s linear;
}
section form input{
    width: 500px;
    height: 50px;
    background-color: rgba(255, 226, 2, 0.1);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border-style: none none solid none;
    border-color:beige;
}

.list-box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}
.list-box #todo-list-box,
.list-box #done-list-box{
    text-align: center;
    width:33%;
}
.list-category{
    display:inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: solid 1px rgba(255,255,255,0.8);
}
.js-todoList, 
.js-doneList{
    padding: 10px;
}
li{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style:none;
    font-size: large;
    margin-bottom: 10px;
    animation: fadeIn .3s linear;
}
li button{
    cursor: pointer;
}
.js-todoList span, 
.js-doneList span{
    margin-right: 10px;
}

::placeholder{
    color:rgba(255,255,255,0.8);
}
h1, h2, span{
    color:rgba(255,255,255,0.8);
}
.js-weather{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color:rgba(255,255,255,0.6);
}


.backgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: fadeIn 0.5s linear;
}
#background-opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:black;
    opacity: 0.7; 
}
#calendar-zone{
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.js-calendar-area{
    display:flex;
    justify-content: center;
    align-items: center;
}
.js-calendar-area span{
    font-size: 20px;
}
.js-calendar-box{
    display:flex;
    margin: 140px 30px 0px 30px;
}
.next-month-btn, 
.pre-month-btn{
    margin-top: 140px;
}
.pre-month-btn span, 
.next-month-btn span{
    cursor: pointer;
}
.day-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    width: 45px;
}
.day-column span{
    margin-bottom: 3px;
}

.js-date-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}
.day, .month, .date{
    display: inline-block;
    margin-right: 7px;
}

.clicked{
    text-decoration-line: underline;
    color:red;
}