body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95a5a6;
    width:100%;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
#time{
    font-size: 130px;
    margin-top: 30px;
    margin-bottom: 0px;
    color:rgba(255,255,255,0.8);
}
#hello-text{
    font-size: 50px;
    margin-top: 30px;
}

.form,
.greeting{
    display: none;
}
.showing{
    display: block;
}

header form input{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
    height: 50px;
    background-color: rgba(255, 226, 2, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border-style: none none solid none;
    border-color:beige;
} 

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section form input{
    width: 500px;
    height: 50px;
    background-color: rgba(255, 226, 2, 0.1);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border-style: none none solid none;
    border-color:beige;
    
}

.list-box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1500px;
    margin-top: 10px;

}
.list-category{
    display:inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: solid 1px rgba(255,255,255,0.8);
}
.js-todoList, 
.js-doneList{
    padding-left: 10px;
}
li{
    list-style:none;
    font-size: large;
    margin-bottom: 10px;
}

::placeholder{
    color:rgba(255,255,255,0.8);
}

h1, h2, span{
    color:rgba(255,255,255,0.8);
}

.js-weather{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color:rgba(255,255,255,0.6);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.backgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: fadeIn 0.5s linear;
}

#background-opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:black;
    opacity: 0.7; 
}



#calendar-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.js-calendar-area{
    display:flex;
    justify-content: center;
    align-items: center;
}
.js-calendar-area span{
    font-size: 20px;
}
.js-calendar-box{
    display:flex;
    margin: 90px 30px 0px 30px;
}
.day-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    width: 45px;
}
.day-column span{
    margin-bottom: 3px;
}
.year, .month, .date{
    display: inline-block;
    margin-right: 7px;
}


.js-date-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.js-date-info-box div{
    display: flex;
}