@import "reset.css";

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100%{
        opacity: 0;
    }
}
@keyframes fadeInAddBtn {
    from {
        opacity: 0;
    } to {
        opacity: .8;
    }
}
@keyframes slidein {
    from {
      bottom: 0px;
      opacity: 0;
    }
    to {
      bottom: 50px;
      opacity: .8;
    }
}
body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95a5a6;
    width:100%;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    animation: fadeIn 0.3s linear;
}
#time{
    font-size: 130px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0px;
    color:rgba(255,255,255,0.8);
}
#hello-text{
    font-size: 50px;
    margin-top: 50px;
    animation: fadeIn 0.3s linear;
}
.form,
.greeting,
.section,
.footer{
    display: none;
}
header form input{
    margin-top: 130px;
    margin-bottom: 50px;
    width: 600px;
    height: 50px;
    background-color: rgba(255,255,255,0);
    color: beige;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-bottom: 1px solid beige;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
} 
section{    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    animation: fadeIn 0.3s linear;
}
section form input{
    width: 500px;
    height: 50px;
    background-color: rgba(255, 226, 2, 0.1);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid beige;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.list-box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}
.list-box #todo-list-box,
.list-box #done-list-box{
    text-align: center;
    width:33%;
}
.list-category{
    display:inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: solid 1px rgba(255,255,255,0.8);
}
.js-todoList, 
.js-doneList{
    padding: 10px;
}
li{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style:none;
    font-size: large;
    margin-bottom: 10px;
    animation: fadeIn .3s linear;
}
li button{
    cursor: pointer;
}
.js-todoList span, 
.js-doneList span{
    margin-right: 10px;
}

::placeholder{
    color:rgba(255,255,255,0.8);
}
h1, h2, span{
    color:rgba(255,255,255,0.8);
}
.js-weather{
    position: absolute;
    bottom: 15px;
    right: 20px;
    color:rgba(255,255,255,0.6);
}

footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.addToDoForOtherDay-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px 0;
    margin-right: 20px;
    background-color: #226666;
    opacity: .8;
    border-radius: 50px 50px 0 50px;
    color:black;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: absolute;
    bottom: 50px;
    animation: slidein .3s linear;
    
}
.addToDoForOtherDay-box span:first-child{
    margin-bottom: 15px;
    font-size: 18px;
    font-style: bold;
}
.addToDoForOtherDay-box span i{
    position: relative;
    left: 40px;
    cursor: pointer;
}
.addToDoForOtherDay-box input{
    padding: 0 10px;
    width: max-content;
    margin-top: 5px;
    height: 40px;
    color:black;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.addToDoForOtherDay-box div{
    display: flex;
    justify-content: center;
    width:100%;
}
.addToDoForOtherDay-box div input:first-child{
    position:relative;
    left: 16px;
    width: 65%;
}
.addToDoForOtherDay-box div input:last-child{
    position: relative;
    left: 20px;
}
.addToDoForOtherDay-box input.addToDoBtn{
    padding: 0 10px;
    width: min-content;
    height: 40px;
    color:black;
    font-size: 16px;
    text-align: center;
    border-style: none none solid none;
    border-color:beige;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.backgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: fadeIn 0.5s linear;
}
#background-opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color:black;
    opacity: 0.6; 
}
#calendar-zone{
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.js-calendar-area{
    display:flex;
    justify-content: center;
    align-items: center;
}
.js-calendar-area span{
    font-size: 20px;
}
.js-calendar-box{
    display:flex;
    margin: 140px 30px 0px 30px;
}
.next-month-btn, 
.pre-month-btn{
    margin-top: 140px;
}
.pre-month-btn span, 
.next-month-btn span{
    cursor: pointer;
}
.day-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    width: 45px;
}
.day-column span{
    margin-bottom: 3px;
    cursor: pointer;
}

.js-date-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}
.day, .month, .date{
    display: inline-block;
    margin-right: 7px;
}

.clicked{
    text-decoration-line: underline;
    color:red;
}
.addBtn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: px;
    width: max-content;
    padding: 15px 60px;
    margin-right: 20px;
    background-color: #226666;
    opacity: .8;
    border-radius: 40px 40px 0 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: x-large;
    cursor: pointer;
    animation: fadeInAddBtn .3s linear;
}

.showing{
    display: flex;
}
.no-showing{
    display: none;
}
.popUpText{
    color:#226666;
    opacity: .8;
    margin-top: 15px;
}
.anim-fadeInAndOut{
    animation: fadeInAndOut 2s linear;
}
